@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="">

            <form class="login100-form validate-form">
                <span class="login100-form-title">
                    Üye Girişi
                </span>

                <div class="wrap-input100 validate-input" data-validate="">
                    <input class="input100" id="Email" type="text" name="Email" placeholder="KullanıcıAdı">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user-circle"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn">
                    <a class="btn btn-style btn-success" style="color:white;" onclick="forgotPassword()">Onayla</a>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/jquery.js"></script>
<script>
    function forgotPassword() {
        var email = $("#Email").val(); // E-posta adresini input alanından al
        // E-posta adresi boş mu kontrolü yap
        if (!email) {
            alert("Lütfen bir e-posta adresi girin.");
            return;
        }

        // API isteği gönder
        $.ajax({
            url: 'https://localhost:7160/api/Account/ForgotPassword',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ email: email }),
            success: function (response) {
                console.log(response);
                alert("Şifre sıfırlama bağlantısı gönderildi.");
            },
            error: function (error) {
                console.error(error);
                alert("İşlem sırasında bir hata oluştu.");
            }
        });
    }


</script>